:root {
  font-family: "JetBrains Mono", monospace;
  background-color: #f1f1f1;
  color: #54433a;
}

a.noul {
  text-decoration: none;
}

a {
  color: #3d6568;
  color: #465aa4;
}

a.title {
  color: #54433a;
}

h1,
body {
  display: flex;
  justify-content: center;
}

body > div {
  width: 60rem;
}

ul.mainnav {
  display: flex;
  justify-content: space-between;
}

ul.mainnav > li {
  list-style-type: none;
}
